button {
   border: none;
   cursor: pointer;
   background-color: #fff;
}

.mainButtonStyle {
   font-weight: bold;
   transition: 0.3s;
   align-items: center;
   display: flex;
}

.mainButtonStyle:hover {
   color: rgb(27, 74, 228);
   transition: 0.3s;
}

.secondButtonStyle {
   display: flex;
   align-items: center;
   padding: 10px 20px 10px 10px;
   width: 100%;
}

.secondButtonStyle:hover {
   background-color: rgba(107, 107, 107, 0.178);
   color: rgb(27, 74, 228);
}

.thirdButtonStyle {
   padding: 8px 10px;
   background-color: #7d7d7d36;
   border-radius: 2px;
}

.thirdButtonStyle:hover {
   background-color: #7d7d7da1;
}

// .accordionButton {
//    color: #7d7d7da1;
//    background-color: #7d7d7d36;
//    margin-left: 163px;
//    padding: 10px;
//    border-radius: 3px;
// }

// .accordionButton:hover {
//    background-color: #7d7d7da1;
//    color: rgb(75, 75, 75);
// }
