.inputCreateList {
   padding: 5px;
   border-radius: 4px;
   font-size: 20px;
   border: 1px solid #9493935c;
   box-shadow: 1px 1px 2px 1px #aaa;
   margin: 10px 0 20px;
}

.errorPosition {
   width: 220px;
   padding: 3px;
   font-size: 10px;
   position: absolute;
   bottom: 28%;
   left: 17%;
   color: #d81f1f;
   border-radius: 5px;
}
