.inputCreate {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #9493935c;
  box-shadow: 1px 1px 2px 1px #aaa;
  width: 230px;
  margin-bottom: 10px;
}

.inputCreateProject{
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #9493935c;
  box-shadow: 1px 1px 2px 1px #aaa;
  width: 90%;
  margin-bottom: 17px;
}

.inputAuth {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #9493935c;
  background-color: #e9e9e9;
  margin-bottom: 15px;
  width: 235px;
}

.textInput {
  padding: 5px;
  border-radius: 4px;
  font-size: 20px;
  border: 1px solid #9493935c;
  box-shadow: 1px 1px 2px 1px #aaa;
  width: 320px;
  height: 100px;
  margin-bottom: 25px;
  resize: none;
}

.changeProjectContent {
  padding: 4px;
  width: 270px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #9493935c;
  box-shadow: 1px 1px 2px 1px #aaa;
  margin-bottom: 15px;
  resize: none;
}

.changeContenterror {
  padding: 3px;
  font-size: 12px;
  color: #d81f1f;
  border-radius: 5px;
  margin-top: -16px;
  margin-bottom: 0px;
}

.createProjectContent{
  padding: 4px;
  width: 90%;
  height: 225px;
  border-radius: 4px;
  border: 1px solid #9493935c;
  box-shadow: 1px 1px 2px 1px #aaa;
  margin-bottom: 25px;
  resize: none;
}

.errorContentPosition {
  padding: 3px;
  font-size: 12px;
  color: #d81f1f;
  border-radius: 5px;
  margin-top: -21px;
  margin-bottom: 5px;
}

.errorTitlePosition {
  margin-bottom: -6px;
  padding: 3px;
  font-size: 11px;
  color: #d81f1f;
  border-radius: 5px;
  margin-top: -10px;
}

.errorAuth{
  padding: 3px;
  font-size: 11px;
  color: #d81f1f;
  border-radius: 5px;
  margin-top: -15px;
}


.errorPosition {
   width: 220px;
   padding: 3px;
   font-size: 10px;
   position: absolute;
   bottom: 34%;
   left: 17%;
   color: #d81f1f;
   border-radius: 5px;
}
