.mainProjectsStyle {
   padding: 20px;
}

.mainTitle {
   font-weight: bold;
   font-size: 30px;
   text-align: start;
   padding-left: 20px;
}

.count {
   color: #6b9b6c;
}

.countNone {
   display: none;
}

.create {
   display: flex;
   padding: 20px 25px 0px 25px;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

.searchArea {
   display: flex;
}

.searchAreaSD {
   display: flex;
   width: 100%;
   margin-bottom: 20px;
}

.searchTitleArea {
   display: flex;
}

.titleSearch {
   position: relative;
}

.titleSearchClose {
   display: none;
}

.contentSearch {
   position: relative;
   display: none;
}

.contentSearchOpened {
   display: block;
}

.searchInput {
   padding: 5px 35px 5px 22px;
   border-radius: 4px;
   border: 1px solid #9493935c;
}

.searchIcon {
   background-image: url(../../assets/icon/searchIcon.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 11px;
   position: absolute;
   width: 17px;
   height: 17px;
   left: 2%;
   top: 20%;
}

.delete {
   background-image: url(../../assets/icon/plusIcon.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 11px;
   width: 15px;
   height: 15px;
   margin-right: 6px;
   position: absolute;
   top: 25%;
   right: 0%;
   transform: rotate(45deg);
}

.change {
   background-image: url(../../assets/icon/arrowRepeatIcon.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 20px;
   width: 20px;
   height: 20px;
   margin: 0 10px;
}

.chevronIcon {
   background-image: url(../../assets/icon/chevronDown.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 15px;
   position: absolute;
   right: 0%;
   top: 22%;
   width: 17px;
   height: 17px;
}

.projectsBlocks {
   display: flex;
   justify-content: flex-start;
}

.projectsBlocksMD {
   display: flex;
   justify-content: flex-start;
   flex-direction: column-reverse;
   margin-top: 10px;
}

.projectsBlocksSD {
   display: flex;
   justify-content: flex-start;
   flex-direction: column-reverse;
   margin-top: 10px;
}

.loader {
  font-size: 10px;
  margin: 190px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #000000;
  background: -moz-linear-gradient(left, #8dbc8b 10%, rgba(0,0,0, 0) 42%);
  background: -webkit-linear-gradient(left, #8dbc8b 10%, rgba(0,0,0, 0) 42%);
  background: -o-linear-gradient(left, #8dbc8b 10%, rgba(0,0,0, 0) 42%);
  background: -ms-linear-gradient(left, #8dbc8b 10%, rgba(0,0,0, 0) 42%);
  background: linear-gradient(to right, #8dbc8b 10%, rgba(0,0,0, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &:before {
    width: 50%;
    height: 50%;
    background: #8dbc8b;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.accordionBlock {
   display: flex;
   flex-direction: column;
   max-height: 500px;
   overflow-y: auto;
   margin-top: 20px;
   border-radius: 5px;
   width: 55%;

   &::-webkit-scrollbar {
      width: 15px;
   }

   &::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 10px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #adadad;
      border: 4px solid #cccccc;
      border-radius: 10px;
   }
}

.accordionBlockMD {
   width: 100%;
   margin-right: 10px;
}

.accordionBlockSD {
   width: 100%;
   margin-right: 10px;
}

.accordionBlockMax {
   width: 100%;
   margin-right: 10px;
   transition: 0.5s;
}

.createProjectArea {
   background-color: #bce0bb;
   border-radius: 5px;
   height: 500px;
   width: 35%;
   margin: 20px 25px 0 40px;
}

.createProjectAreaSD {
   height: 310px;
   width: 96%;
   margin: auto;
}

.createProjectAreaMD {
   height: 310px;
   width: 96%;
   margin: auto;
}

.openedCreateProjectBlock {
   right: 10px;
   display: block;
}

.closeCreateProjectBlock {
   right: -600px;
   display: none;
}
