hr {
   border: 1px solid;
   margin-top: 25px;
}

.backFon {
   background-color: #bce0bb;
   height: 100vh;
}

.title {
   font-size: 120px;
   letter-spacing: 1rem;
   font-weight: 100;
   padding: 150px 0 60px;
   color: #ff7979;
}

.text {
   font-size: 35px;
   font-weight: 100;
}
