.taskCard {
   background-color: #fff;
   padding: 10px;
   margin: 5px;
}

.cardText {
   text-align: start;
   font-size: 17px;
   font-weight: 500;
   color: #848484;
   padding-bottom: 13px;
}

.firstStyle {
   background-color: #f4f05c;
   border-radius: 5px;
   font-weight: 700;
   color: #523434e0;
   width: 80%;
   font-size: 14px;
   padding: 2px;
}

.secondStyle {
   background-color: #4bd2d9;
   border-radius: 5px;
   font-weight: 700;
   color: #fff;
   width: 80%;
   font-size: 14px;
   padding: 2px;
}

.thirdStyle {
   background-color: #e88f1a;
   border-radius: 5px;
   font-weight: 700;
   color: rgb(0, 0, 0);
   width: 80%;
   font-size: 14px;
   padding: 2px;
}

.fourthStyle {
   background-color: #7d44d7;
   border-radius: 5px;
   font-weight: 700;
   color: #fff;
   width: 80%;
   font-size: 14px;
   padding: 2px;
}
