.createArea {
   margin: 10px;
   background-color: #ffffff;
   border-radius: 5px;
   height: 475px;
   max-width: 660px;
   box-shadow: 3px 3px 3px 0px #aaa;
   position: relative;
}

.createAreaMD {
   height: 290px;
}

.createAreaSD {
   height: 290px;
}

.createCardTitle {
   font-weight: 600;
   font-size: 20px;
   margin: 10px 10px 10px;
   padding: 10px;
   border-bottom: 2px solid #d1c9c9;
   text-align: start;
}

.descriptionProjectBlock {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.projectTitle {
   font-weight: 500;
   margin: 10px;
   font-size: 15px;
}

.inputName {
   padding: 4px;
   border-radius: 4px;
   border: 1px solid #9493935c;
   box-shadow: 1px 1px 2px 1px #aaa;
   width: 90%;
   margin-bottom: 17px;
}

.errorNamePosition {
   padding: 3px;
   font-size: 11px;
   color: #d81f1f;
   border-radius: 5px;
   margin-top: -17px;
}

.inputText {
   padding: 4px;
   width: 90%;
   height: 225px;
   border-radius: 4px;
   border: 1px solid #9493935c;
   box-shadow: 1px 1px 2px 1px #aaa;
   margin-bottom: 25px;
   resize: none;
}

.inputTextMD {
   height: 60px;
   margin-bottom: 20px;
}

.inputTextSD {
   height: 60px;
   margin-bottom: 20px;
}

