.taskBoard {
   width: 300px;
   max-height: 550px;
   background-color: #bce0bb;
   margin: 20px 10px;
   border-radius: 5px;
}

.taskInfo {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.taskTitle {
   text-align: start;
   padding: 8px 10px;
   font-weight: bold;
   color: rgb(117, 117, 117);
}

.plus {
   background-image: url(../../assets/icon/plusIcon.svg);
   background-repeat: no-repeat;
   background-position: center;
   width: 25px;
   height: 25px;
   margin-right: 6px;

   &:hover {
      background-color: rgba(148, 148, 148, 0.575);
      border-radius: 50%;
   }
}

.scroll {
   overflow: auto;
   max-height: 440px;

   &::-webkit-scrollbar {
      width: 15px;
   }

   &::-webkit-scrollbar-track {
      background: #bce0bb;
      border-radius: 10px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #adadad;
      border: 4px solid #cccccc;
      border-radius: 10px;
   }
}
