.line {
   border: 1px solid;
   margin-top: 33px;
}

.backFon {
   background-color: #bce0bb;
   height: 92vh;
}

.title {
   font-size: 70px;
   font-weight: 100;
   padding: 150px 0 50px;
}

.titleMedia {
   font-size: 50px;
   font-weight: 100;
   padding: 95px 0 40px;
}

.myName {
   font-weight: 400;
}

.projectTitle {
   font-weight: 100;
   font-size: 150px;
}

.projectTitleMedia {
   font-weight: 100;
   font-size: 75px;
}
