.back {
  padding: 7px 10px;
}

.userCard {
  background-color: #7d7d7d36;
  border-radius: 10px;
  border: 1px solid #aaa6;
  box-shadow: 0px 2px 0px 0px #aaa;
  width: 100%;
  margin-bottom: 7px;
  padding: 2px;
}


.infoField {
  text-align: start;
  margin-left: 10px;
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.userName {
  font-size: 15px;
}

.userEmail {
  color: #636363;
  font-size: 14px;
}

.buttonPosition{
  margin-right: 7px;
}

.plus {
  background-image: url(../../assets/icon/plusIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;

  &:hover {
    background-color: rgba(148, 148, 148, 0.575);
    border-radius: 50%;
 }
}

.copy {
  opacity: 0.3;
  font-weight: 500;
  font-size: 20px;
  margin-right: 20%;
}
