.notificationField{
  margin: 5px 0;
}

.card{
  text-align: start;
  background-color: #bce0bb;
  padding: 8px 5px;
  border-radius: 5px;
}

.projectName {
  font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid;
}